                                        #map {
                                            position: relative;
                                            margin-top: 0px;
                                            margin-right: 50%;
                                            height: 300px;
                                            width: 98%;
                                            border-radius: 5px;
                                            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.136);
                                        }

                                        .mapa-section {
                                            margin-left: 18px;
                                        }

                                        .leaflet-popup-content {
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            margin-left: 5px;
                                            /* Ajuste o valor conforme necessário */
                                            margin-right: 5px;
                                            /* Ajuste o valor conforme necessário */
                                            border-radius: 5px;
                                            margin: -10px -15px;
                                            /* Ajuste para diminuir o tamanho */
                                            padding: 5px;
                                            /* Adicione padding para controlar o espaço interno */
                                        }

                                        .popup-image {
                                            width: 150px;
                                            /* Reduza a largura da imagem */
                                            height: 75px;
                                            /* Reduza a altura da imagem */
                                            margin: -10px;
                                            /* Ajuste o margin para adequar o layout */
                                        }

                                        .leaflet-popup-content h3 {
                                            font-size: 1em;
                                            /* Reduza o tamanho da fonte */
                                            margin-bottom: -5px;
                                            /* Ajuste o margin para diminuir o espaço entre a imagem e o título */
                                            width: 200px;
                                            /* Reduza a largura do título */
                                            height: 25px;
                                            /* Reduza a altura do título */
                                        }



                                        .leaflet-poupup {
                                            position: absolute;
                                            top: 300px;
                                        }

                                        .player-icon {
                                            width: 40px;
                                            height: 40px;
                                            background: url('imagens/player.png') no-repeat center center;
                                            background-size: contain;
                                            margin-bottom: 10px;
                                        }

                                        .marker-scale {
                                            transition: transform 0.3s ease;
                                            transform: scale(1.2);
                                        }

                                        .zoomed-marker {
                                            transform: scale(1.3);
                                        }

                                        .leaflet-popup-content {
                                            margin: 13px 19px;
                                            line-height: 1.4;
                                        }





                                        .leaflet-popup-content-wrapper {
                                            padding: 0px;
                                            text-align: left;
                                            border-radius: 5px;
                                        }

                                        .leaflet-container a.leaflet-popup-close-button {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            padding: 4px 4px 0 0;
                                            border: none;
                                            text-align: center;
                                            width: 18px;
                                            height: 14px;
                                            font: 16px / 14px Tahoma, Verdana, sans-serif;
                                            color: #c3c3c3;
                                            text-decoration: none;
                                            font-weight: bold;
                                            background: transparent;
                                        }

                                        .leaflet-container a.leaflet-popup-close-button:hover {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            padding: 4px 4px 0 0;
                                            border: none;
                                            text-align: center;
                                            width: 18px;
                                            height: 14px;
                                            font: 16px / 14px Tahoma, Verdana, sans-serif;
                                            color: #fd0000;
                                            text-decoration: none;
                                            font-weight: bold;
                                            background: transparent;
                                        }



                                        .leaflet-container a.leaflet-popup-close-button {
                                            position: absolute;
                                            top: -15;
                                            right: 0;
                                            padding: 4px 4px 0 0;
                                            border: none;
                                            text-align: center;
                                            width: 18px;
                                            height: 14px;
                                            font: 16px / 14px Tahoma, Verdana, sans-serif;
                                            color: #c3c3c3;
                                            text-decoration: none;
                                            font-weight: bold;
                                            background: transparent;
                                        }

                                        .leaflet-popup-content p {
                                            margin: 0px !important;
                                        }
                                        
                                        @media (max-width: 400px) {
                                            #map{
                                                margin-left: -4.1%;
                                                width: 93%;
                                                
                                            }
                                        }
                                        
                                        @media (max-width: 600px) {
                                            #map{
                                                width: 93%;
                                                
                                            }
                                        }
                                        
                                        @media (max-width: 900px) {
                                            #map{
                                                width: 93%;
                                                
                                            }
                                        }